@using WebApplication6.Controllers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>

    <script src="~/Scripts/chart.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    <li class="custom-dropdown">
                        <a href="javascript:void(0);" id="reportsToggle">Reports <span class="caret"></span></a>
                        <ul class="custom-dropdown-menu">
                            @{
                                var reportTemplates = WebApplication6.Controllers.ReportController.GetReportTemplates();
                                if (reportTemplates != null && reportTemplates.Any())
                                {
                                    foreach (var template in reportTemplates)
                                    {
                                        <li>
                                            <a href="@Url.Action("RenderReport", "Report", new { templateName = template })">
                                                @template
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li><a href="#">No templates found</a></li>
                                }
                            }
                        </ul>
                    </li>

                    @* Check if user is in the required role to see DEV reports *@
                    @*@if (Request.IsAuthenticated && User.IsInRole("Developer"))*@
                    {
                    <!-- DEV Reports dropdown - only visible to users in the Developer role -->
                <li class="custom-dropdown">
                    <a href="javascript:void(0);" id="reportsDevToggle">Reports DEV <span class="caret"></span></a>
                    <ul class="custom-dropdown-menu">
                        @{
                            var reportTemplatesDev = WebApplication6.Controllers.ReportController.GetReportTemplatesDEV();
                            if (reportTemplatesDev != null && reportTemplatesDev.Any())
                            {
                                foreach (var template in reportTemplatesDev)
                                {
                                    <li>
                                        <a href="@Url.Action("RenderReportDEV", "Report", new { templateName = template })">
                                            @template
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li><a href="#">No DEV templates found</a></li>
                            }
                        }
                    </ul>
                </li>
                    
                </ul>


            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Fixed script to handle dropdowns separately -->
    <script>
        $(function () {
            // Handle Reports dropdown
            $('#reportsToggle').on('click', function (e) {
                e.preventDefault();
                // Toggle this dropdown only
                $(this).siblings('.custom-dropdown-menu').toggle();
                // Close the other dropdown if open
                $('#reportsDevToggle').siblings('.custom-dropdown-menu').hide();
            });

            // Handle Reports DEV dropdown
            $('#reportsDevToggle').on('click', function (e) {
                e.preventDefault();
                // Toggle this dropdown only
                $(this).siblings('.custom-dropdown-menu').toggle();
                // Close the other dropdown if open
                $('#reportsToggle').siblings('.custom-dropdown-menu').hide();
            });

            // Close dropdowns when clicking outside
            $(document).on('click', function (e) {
                if (!$(e.target).closest('.custom-dropdown').length) {
                    $('.custom-dropdown-menu').hide();
                }
            });
        });
    </script>

    <style>
        /* Reset and unify all navbar item styling */
        .navbar-nav > li > a,
        .custom-dropdown > a {
            color: #9d9d9d;
            padding: 15px;
            line-height: 20px;
            position: relative;
            display: block;
            text-decoration: none;
        }

            /* Hover states for all navbar items */
            .navbar-nav > li > a:hover,
            .navbar-nav > li > a:focus,
            .custom-dropdown > a:hover,
            .custom-dropdown > a:focus {
                color: #fff;
                background-color: transparent;
            }

        /* Ensure the custom dropdown aligns with other navbar items */
        .navbar-nav > li,
        .custom-dropdown {
            position: relative;
            display: block;
            float: left;
        }

        /* Position the dropdown menu properly */
        .custom-dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 0;
            list-style: none;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }

            /* Style dropdown items */
            .custom-dropdown-menu > li > a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
                text-decoration: none;
            }

                .custom-dropdown-menu > li > a:hover,
                .custom-dropdown-menu > li > a:focus {
                    color: #262626;
                    text-decoration: none;
                    background-color: #f5f5f5;
                }
    </style>





</body>
</html>
